.App {
  text-align: center;
  font-size: 13px;
  padding: 0px 8px;
  z-index: 999999;
}

*:not(#documentationLandingPageView) {
  /* font-family: Sen; */
}

*{
  cursor: default;
}

#documentationLandingPageView{
  font-family: 'Poppins' !important;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 300px;
  padding: 3px 5px;
  outline: none;
}

textarea {
  width: 300px;
  outline: 0px;
  padding: 6px;
}

.submit {
  width: 200px;
  text-align: center;
}

button {
  background-color: white;
  border: 0px;
  margin: 10px;
  padding: 7px 10px;
  border-radius: 0px;
}
button:hover {
  background-color: rgb(240, 240, 240);

  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 250;
  display: inline;
  border: 1px solid #bbbbbb;
  /* background-color: #254B62; */
  color: #254B62;
  padding: 6px 19px;
  border-radius: 4px;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  font-weight: 250;
  display: inline;
  border: 1px solid #254B62;
  /* background-color: #254B62; */
  color: #254B62;
  padding: 6px 19px;
  border-radius: 4px;
}

.h3:hover {
  display: inline;
  background-color: rgb(235, 235, 235);
  color: black;
  padding: 6px 19px;
}

th {
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 30px;
  max-width: 200px;
  text-align: left;

  font-weight: 400;
  background-color: #254B62;
  color: white;
  padding: 6px 19px;
}

td {
  padding-right: 30px;
  text-align: left;
  overflow-x: scroll;
  max-width: 130px;
}

table {
  display: inline;
}

.a:hover {
  background-color: #254B62;
  color: #254B62 !important;
}

.fa-times-circle:hover {
  color: rgb(198, 27, 27) !important;
}

select {
  outline: 0px;
  border: 0px;
}

.fa-thumbs-up{
  color: rgb(4, 168, 4);
}
.fa-thumbs-down {
  /* color: rgb(225, 0, 0); */
  color: #e81c3e;
}


.question:hover {
  background-color: rgb(235, 235, 235);
}

input[type="checkbox"].checkboxInput {
  -webkit-appearance: none;
  width: 16px;
  height: 12px;
  position: relative;
}

input[type="checkbox"].checkboxInput:checked::before {
  content: "\2714";
  position: absolute;
  top: -1px;
  right: 5px;
  color: rgb(113, 185, 4);

  font-size: 13px;
  line-height: 1;
}

input[type="checkbox"].checkboxInputTopic {
  -webkit-appearance: none;
  height: 12px;
  position: relative;
  top: 4px;
  border: 1px solid silver;
  border-radius: 3px;
}

input[type="checkbox"].checkboxInputTopic:checked::before {
  content: "\2714";
  position: absolute;
  top: -1px;
  right: -1px;
  color: rgb(113, 185, 4);

  font-size: 11px;
  line-height: 1;
}

input[type="submit"] {
  font-weight: 300;
  display: inline;
  background-color: #254B62;
  color: white;
  padding: 5px 19px;
}

.pathCard:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;

}

.pathCard{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px;
}

.searchResult:hover {
  background-color: rgb(243, 243, 243) !important;
  color: black !important;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.tox-statusbar__branding{
  display: none;
}

.tox-notifications-container{
  display: none;
}

.fa.fa-trash:hover {
 color: #e81c3e !important;
}

.tox-statusbar__path{
  display: none !important;
}

.tox-tinymce {
  border-radius: 0px !important;
  border: 0px solid silver !important;
}

button[aria-label="Help"]{
  display: none !important;
}

.fa.gear{
  transition-duration: 300ms;
}
.fa.gear:hover{
  color: rgb(40, 40, 40);
  transform: rotate(90deg);
  transition-duration: 500ms;
}


.ignore-css{
  all:unset !important;
}

.scopes:hover {
  background-color: rgb(241, 241, 241) !important;
}
